
.App {
  text-align: center;
  background: url('http://pavbca.com/walldb/original/e/e/8/53866.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  color: white;
}

.AppBody {
  padding: calc(var(--heading-height) + 1.5vw) 2%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#CharacterCard {
  text-align: left;
  background-color: rgba(136, 122, 122, 0.589);
  height: 90%;
  margin: 10% 5%;
}

.card-body .btn {
  margin: 1em 0 0.7em;
}

kbd {
  width: 80%;
}

kbd.error {
  padding: 1.5%;
  background-color: rgba(190, 73, 73, 0.788);
}

kbd.warning {
  padding: 1.5%;
  background-color: rgba(185, 185, 122, 0.719);
}
.row {
  justify-content: center;
  margin: 0;  
}

.search {
  align-items: center;
  padding: 0 20%;
}
.search button {
  margin: 1em;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: monospace;
  line-height: 2em;
  justify-content: space-between;
}
.card-body div div {
  width: 100%;
  border-style: solid ;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.137);
  display: flex;
  padding: 2%;
  margin-top: -1px;
  justify-content: space-between;
}
.card-body p {
  width: 48%;
  margin: 0;
  font-size: 15px;

}

.card-info {
  text-align: end;
}



@media only screen and (max-width: 600px) {
  .App {
    background-image: none; 
  }
  .card-body .btn {
    margin: 1em 0;
  }
}

