body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
	/* Heading height variable*/
	--heading-height: 25em;
}

header {
	position: fixed;
	width: 100%;
  height: var(--heading-height);
  z-index:1000;
  padding: 4em;
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 7em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(http://pavbca.com/walldb/original/a/e/0/53856.jpg?auto=format&fit=crop&w=1350&q=80) no-repeat center center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

header h2 {
  font-style: italic;
}

.navBar {
	display: flex;
	z-index: 1001;
	background-color: black;
	font-size: 1.2em;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}
.navBar .nav-link {
	color: white;
	padding: 0 2%;
	left: 2%;
}

.navBar .nav-link:hover {
	text-decoration: line-through;
	color: grey;
}

@media only screen and (max-width: 600px) {
	:root {
		/* Heading height variable*/
		--heading-height: 19em;
	}
	header h2 {
		font-size: 1em;
	  }
	.navBar .nav-link {
	
		font-size: 0.8em;
	}
	header h1 {
		margin-left: -1.5em;
		margin-right: -1.5em
	}
	header::before {
		height: calc(var(--heading-height) + 2em);
	}
}